
{{ 'section-collection-table.css' | asset_url | stylesheet_tag }}
<div class= "collection-table-ctn centered-header"  data-aos="fade-in"  >

    {%- if section.settings.header -%}
 


  <div class= "collection-grid__header">
    <div class= "collection-grid__title_decker">  
<h2 class= "collection-grid__title"  data-aos="fade-up"  data-aos-delay="1000" data-aos-duration="800">{{ section.settings.header }}</h2>
  </div>
</div>
{%- endif -%}


<table class="nuuva-table" width="80%" >
    <tbody  >
    <tr class="table-header">
    <td >Beschreibung</td>
    <td >SMART</td>
     <td>Fokus</td>
   
    </tr>
    <tr >
    <td >Bestrahlungsintensität</td>
    <td >≥200 mW/cm²</td>
        <td>> 80 mW/cm²</td>
         
    </tr>
    <tr >
    <td >Leistung der LEDs</td>
    <td >5W</td>
     <td >2W</td>
   
    </tr>
    <tr >
    <td >geringe EMF-Strahlung</td>
     <td class="green">✓</td>
         <td class="green">✓</td>

    </tr>
  <tr >
    <td >flimmerfrei</td>
   <td class="green">✓</td>
         <td class="green">✓</td>

    </tr>
     
     <tr >
      <td >extra lange Garantiezeit</td>
               <td >3 Jahre</td>
          <td >3 Jahre</td>
          
    </tr>
     <tr >
    <td >Double Chip LED Technologie</td>
    <td class="green">✓</td>
         <td class="green"></td>
         
    </tr>
     
    <td >Stand erhältlich</td>

         <td class="green">✓</td>
           <td ></td>
           
    </tr>
    
        <tr >
    <td >Timer + digitale Kontrolle</td>

        <td class="green">✓</td>
            <td ></td>
    </tr>
        <tr >
    <td >6-Wellenlängen-Design</td>
                <td class="green">✓</td>
                    <td > </td>
     

    </tr>
    </tbody>
    </table>

</div>

{% schema %}
{
"name":"Serienvergleich2",
  "settings":[
           {
           "type":"text",
           "id":"header",
           "label":"Header"
            },   
             {
              "type":"text",
              "id":"linktext",
              "label":"Link Text"
               }
  ],
"blocks": [
       {
       "type":"collection",
      "limit":5,
      "name":"collection",
 "settings":[
           {
           "type":"collection",
          "id":"collection",
               "label":"Collection"
            }
  ]
   }
 
  

  ],
"presets": [
{
"name":"Serienvergleich2",
"blocks": [
    {
      "type": "collection"
    }
   
  ]
}
]
}
{% endschema %}


