{{'section-hero.css' | asset_url | stylesheet}}

<div class="header-container">
<h1>
 <img src="{{ 'bg_abstract-bg-large.svg' | asset_url }}" />
 <span>test test</span>

 </h1>

</div>

{% schema %}
{

"name":"Hero",
"presets":[
{
"name":"Hero"
}
]

}
{% endschema %}
