.header-container{
    margin-top:2rem;
    margin-bottom:2rem;
    position: relative;
    overflow: hidden;
}

.header-container img{position: absolute;
z-index: 1;
top:0;}
.header-container h1{
    margin-top:6rem;
    margin-bottom:6rem;
    position: relative;
    z-index: 2;
    text-align: center;
}
.hero-collections{
    position: relative;
    z-index: 3;
    margin: 80px 0 100px;
}
.hero-collections__card-ctn{
   display: flex;
    flex-direction: column;
    position: relative;
}
.hero-collections__card{

     position: relative;
    border:  3px solid grey;
 }