:root {
  --a: 1750px;
  --b: -1050px;
}



.compare-list{
margin-left: 0px;
padding-left: 6px;
padding-right: 8px;
border-right: 1px solid #c7c4c4;
width: auto;
list-style-type: none; /* Remove bullets */
}
.compare-product-item:nth-child(2) .compare-list {
  border-left: 1px solid #c7c4c4;

  }
 

.compare-table-info{
    background-color:#f2f2f2 ;
    text-align:left;
    padding-left: 5px;
 display: table;
font-weight: 600;
width:150px;
}
.compare-table-info li{
border-bottom: 1px solid #ffffff!important;

}
.compare-product-ctn{
/* 
hier die höhe des Containers - Abstand für weiteren Content drunter. */
position: relative;
height:1950px;
}



::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
  ::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }
  
  body {
    background: #111;
  }
  
  div {
    box-sizing: border-box;
  }

  .horizontal-scroll-wrapper {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    width:1750px;
    max-height: 90vw;
    margin: 0 5vw;
    padding-top: 1px;

    overflow-y: auto;
    overflow-x: hidden;
    /* 
hier die höhe des Containers - Abstand für weiteren Content drunter. */
    transform: rotate(-90deg) translateY(-1750px);
    
    transform-origin: right top;
  }
  .horizontal-scroll-wrapper > div {
    display: block;
    padding: 15px;
 
    transform: rotate(90deg);
    transform-origin: right top;
   
  }
  

.collection-tables-extras{
height:256px;
border-bottom: unset;

}
.responsive-2line{
    height:60px;   
}
.collection-tables-2lines{
    height:120px;

    }
.rectangles{
    top:100px;
    padding:300px 0 0 0;
  }
  .compare-list li{
  
font-size: 14px;
max-width: 300px;
word-wrap: break-word;
overflow-wrap: break-word;

-webkit-hyphens: auto;
 -moz-hyphens: auto;
      hyphens: auto;
      border-bottom: 1px solid #f2f2f2;
      padding-top:8px;
      padding-bottom: 8px;

min-height:43px;
     
}
.compare-list li:not(:first-child) {
    padding-left:10px;

    }
  .rectangles > div{
    width:305px;
    height:300px;
    margin:0px ;
    padding:5px;
    max-width: 305px;
  /* translate und width sollte die gesamrthöhe haen, der einzug Y setzt die tabelle nach oben. */
    transform:rotate(90deg) translateY(-1450px);
    transform-origin: right top;
  }
  .sticky{
    position: sticky; 
    left: 0;
    top:0;
z-index: 1;
  }
  
  .bildhalter{
    height:173px;
    width: 140px;
padding-top: 50%!important;


}
.compare-list img{ 
    width: 150px;
     height: auto;
}
@media (min-width:768px) {
    .compare-list img{ 
        width: 240px; height: auto;
    }
    .bildhalter{
   

        width: 240px;
        height:264px;
    }
    .compare-table-info{
        width:auto;
        padding-left:30px;
    }
    .compare-list li{font-size: 15px;}
    .collection-tables-2lines{
        height:60px;

        }
        .responsive-2line{
            height:initial;   
        }

        .compare-product-ctn{

            height:  1650px;
            }
            

            
        .horizontal-scroll-wrapper {
       
         width: 1550px;
        
            /* 
        hier die höhe des Containers - Abstand für weiteren Content drunter. */
            transform: rotate(-90deg) translateY(-1550px);

          }
          .rectangles > div{
                   /* 
        hier 300px weniger als die gesamthöhe füpr Abstand nach unten*/
            transform:rotate(90deg) translateY(-1260px);
         
          }
}
.nuuva-table{
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgb(216, 216, 216);
  border-collapse: collapse;


}
.nuuva-table th, .nuuva-table td {
  border: 1px solid rgb(216, 216, 216);
  border-collapse: collapse;
  padding:6x;
}
.table-header{
  font-weight: 700;

}