.header-container{
   margin-left:8vw;
   margin-right:8vw;
    margin-top:1rem;
    margin-bottom:2rem;
    position: relative;
    overflow: hidden;


}

.hero-ctn{
   
    overflow: hidden;
    
    margin-bottom:3rem;
    background-size: cover;
    background-position: left bottom;

}

.hero-ctn img{
    position: absolute;
z-index: -1;
top:0;
left:0
}
.header-container h1{
    margin-top:6rem;
    margin-bottom:0;

    
}
.hero-zwischenheader{
 margin-top: 2rem;
    font-weight: 600;


}


.hero-collections{
  
    margin: 10px 0 20px;
}
.hero-collections__card-ctn{
   display: flex;
   flex-direction: row;
    position: relative;
    justify-items: center;
    justify-content: space-evenly
}
@media screen and (min-width: 768px) {
    .hero-collections__card-ctn{
        width: 80%;
      margin-left: auto;
      margin-right: auto; 
    }
}
@media screen and (min-width: 1024px) {
 
    .hero-ctn{
   

        background-position: center bottom;

    }
    .hero-zwischenheader{
   
       max-width: 80%;
       }
       .hero-infotext{
           max-width: 80%;
       }

    .hero-collections__card-ctn{
  margin:0  auto ;
      width: 84%;
    }
}
@media screen and (min-width: 1200px) {
    .hero-collections__card-ctn{
      
    }
    .hero-ctn{
   

        background-position: right bottom;

    }
}


.hero-collections__card{

     position: relative;
  
    background-size: cover;
    height:200px;
    width:240px;


 }

@media screen and (min-width: 768px) {
    .hero-collections__card
    {
        height:367px;
        width:340px;
    }
}
@media screen and (min-width: 1024px) {
    .hero-collections__card
    {
        height:545px;
        width:524px;
    }
}
@media screen and (min-width: 1200px) {
    .hero-collections__card
    {
        height:590px;
        width:550px;
    }
}

.hero-collections{
text-align: center;
}
.hero-collections__card-title{
font-size: 31px;
    font-weight: 600;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s;
    color:white;
    padding:7px 14px;
    background-image: -o-linear-gradient(left,#FEA646 -10%,#FB2274 78.29%,#D12274 98.21%);
    background-image: -webkit-gradient(linear,left top,right top,color-stop(-10%,#FEA646),color-stop(78.29%,#FB2274),color-stop(98.21%,#D12274));
    background-image: linear-gradient(90deg,#FEA646 -10%,#FB2274 78.29%,#D12274 98.21%);
}



.hero-collections__card:hover > .hero-collections__card-title{
    opacity: 1;
}
.hero-collections__card:hover > .hero-collections__card--bg{
    opacity: 0.5;
    transition: none;

}
.hero-collections__card--bg{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:100%;
    height:100%;
    position: absolute;
    top:50%;
    left:50%;
    transition: opacity 0.4s;
    transform: translate(-50%,-50%);
    opacity: 1;
}
.hero-collections__card--hover{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width:100%;
    height:100%;
    position: absolute;
    top:50%;
    left:50%;
    transition: opacity 0.3s;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: none;
}
.hero-collections__card:hover > .hero-collections__card--hover{
    opacity: 1;
    transition: opacity 0.3s;

}