#_x36_60{

    display: none;
}
#_x36_30{

    display:none;
}

#_x38_50{

    display: none;
}
#_x38_30{

    display: none;
}
#_x38_10{

    display: none;
}
.wave-ctn{margin-left: 8vw;
    margin-right: 8vw;
margin-top: 2rem;

}
.wave-ctn h1, .wave-ctn .titleinfo{
    text-align: center; 
    margin-bottom: 10px;
padding-bottom: 2px;
padding-top: 0;
margin-top: 0;
}
.wave-ctn a{
    color:white;
    border-radius: 90px;
    font-size:14px;
    font-weight: 600;
    padding:10px;
    position: relative;
    cursor: pointer;
    z-index: 10;
    border:2px solid white;
}

#wave-info{

margin-top: 2rem;
margin-bottom: 3rem;
display: flex;

grid-template-columns: 100%;
flex-wrap: wrap-reverse;

}
.wave-btns{
    position: relative;
  text-align: center;

  margin-left: 0;
  margin-right: 0;
    margin-top: 3rem;

    padding-top: 112px;

}


.wave-btns-ctn{
    margin-left: 1vw;
    margin-right: 1vw;
    height: 169px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}


.wavebut-active{
    
    border:2px solid #727171;

    -webkit-box-shadow: 1px 3px 8px -3px rgba(0,0,0,0.91); 
    box-shadow: 1px 3px 8px -3px rgba(0,0,0,0.91);
}
.waveinfo-active{
display: block!important;

}

#wave-info--right svg{
    position: relative;
max-width: 100%;
    z-index: 1;

}
#wave-info--left{padding:0 2rem;}
#wave-info--right{
    display: block;
    text-align: center;
width: 100%;

}
#wave-info--left .infolayer{display: none;}

#but630{
    background-color:#ffd156;
}

#but660{
    background-color:#f9837f;

}

#but810{
    background-color:#e82272;
}

#but830{
    background-color:#ea22a0
}

#but850{
    background-color:#b91c83;


}



.wave-active{
    display: block!important;
    
    }
.wave-ctn .input-hidden {
    position: absolute;
    left: -9999px;
  }
  
  .wave-ctn input[type=radio]:checked + label>img {
    border: 1px solid #fff;
    box-shadow: 0 0 3px 3px #090;
  }
  
  /* Stuff after this is only to make things more pretty */
  .wave-ctn input[type=radio] + label>img {
    border: 1px dashed #444;
    width: 150px;
    height: 150px;
    transition: 500ms all;
  }
  
  input[type=radio]:checked  #_x36_60{
        display: block;
    
  }
  .wave-btns{
   display: flex;
 flex-wrap: wrap;
justify-content: center;
  }




  @media (min-width:768px) {
    #but660{

        margin-right: 20px;
    }
    .wave-btns{
    
        margin-left: 12vw;
        margin-right: 12vw;
        padding-top: 168px;
        margin-top: 5rem;
      }

         #wave-info{
       
        margin-top: 5rem; 
    }

    .wave-ctn a{

        font-size:10px;

    }

    
    .wave-ctn a::before{
        content:"|";
    color:black;
    position: absolute;
    left:50%;
    top:-18px;
    transform:translateX(-50%);
    
    }
    .wave-btns .line{
        border-bottom: 2px solid black;
        position: absolute;
    
       transform:translateX(-50%);
       
        left:50%;
    
        height:2px;
       width:88%;
        margin-top: -8px;;
    }
  }  
  @media (min-width:1024px) {
    #wave-info{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 5rem; 
    }
        .wave-btns-ctn{
            margin-left: 8vw;
            margin-right: 8vw;
        }
        
        .wave-ctn{
            margin-top: 6vw;
        
        }
        
        .wave-btns{
    
          margin-left: 12vw;
          margin-right: 12vw;
          padding-top: 178px;
        }
        #wave-info--left{padding:6vw 2rem 2rem 2rem;}
        #wave-info--right{padding-left:3rem;}
  }