#introcolumns{

    background-color: #f4f4f4;
    padding: .5em;
    display: block;
margin: 0 auto;
}


.intro--title{
  
    font-size: 26px;
  padding-left: 0;
    color: #5c4f44;
}
.intro--grid__item{
  
    margin-top: 5rem;   
    padding-right: 30px;;
    display: flex;
flex-direction: column;
padding-bottom: 30px;

}
.intro--img-hldr{
width:100%;
display:inline-block;


}

.intro--img-hldr img{
  margin: 0 auto;


}

.intro--grid__ctnpart{
    padding-left: 20px;
display:inline;
width:100%;
}

.intro--content{padding-bottom: 0; margin-bottom: 0;}

@media screen and (min-width: 750px) {
    .intro--grid__item{  
      flex-direction: row;
        display: inline-flex;

    }


    .intro--img-hldr{
        width:20%;
        display:inline-flex;
        text-align: left;  
        
        }

}



@media screen and (min-width: 950px) {
    #introcolumns .slick-slide{
width: 50vw;
    
    }
}